<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.ismy.htmlcachesystem.dao.ConfigDao">
    <update id="set">
        UPDATE tb_config SET value = #{value} WHERE name = #{name}

    </update>

    <select id="get" resultType="java.lang.String">
        SELECT value FROM tb_config WHERE name = #{name}
    </select>
</mapper>